In [1]:
import numpy as np
import pandas as pd
import glob
import os
import statsmodels.api as sm
from scipy.stats import ttest_1samp
from statsmodels.stats.multitest  import fdrcorrection
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from scipy import stats

In [2]:
SAaxis = pd.read_csv('/Users/monaminishio/Desktop/HOME8/Functional/modules/Sensorimotor-Association_axis/Sensorimotor_Association_Axis_AverageRanks.csv')

In [3]:
concat = pd.read_csv('/Users/monaminishio/Desktop/HOME8/SurfaceArea/scripts/pvalues/concat_original.csv')
concat_glm = pd.read_csv('/Users/monaminishio/Desktop/HOME8/SurfaceArea/scripts/pvalues/concat_glm.csv')
concat_p_glm = pd.read_csv('/Users/monaminishio/Desktop/HOME8/SurfaceArea/scripts/pvalues/concat_p_glm.csv')
concat_padj_glm = pd.read_csv('/Users/monaminishio/Desktop/HOME8/SurfaceArea/scripts/pvalues/concat_padj_glm.csv')

         mean      mean
0    1.105022  0.761185
1    1.082828  0.832171
2    1.202142  0.809679
3    1.071798  0.799615
4    1.226889  0.759421
..        ...       ...
133  1.180525  0.812498
134  1.229430  0.772043
135  1.217040  0.829681
136  1.230940  0.784349
137  1.285009  0.786942

[137 rows x 2 columns]